$space-large: 2.5rem;
$title-color: #555;
$main-background: #fff;


body {
    background: $main-background;
}

.page-title {
    color: $title-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}